@import '../../styles/variables.css';

.work {
  padding-top: 150px;

  & .wrapper {
    width: var(--width);
    padding: var(--padding);
    margin: auto;

    & .item {
      max-width: 740px;
      margin-bottom: 60px;
      padding-bottom: 60px;
      border-bottom: 1px solid rgba(255, 255, 255, .03);

      &:last-child {
        border-bottom: 0;
      }

      &.small {
        & .img {
          margin: 30px 0 30px 30px;
          float: right;
          width: 100px;
          height: 100px;

          & img {
            max-width: 100%;
            max-height: 100%;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            margin: auto;
          }
        }
      }

      & .img {
        width: 100%;
        margin-bottom: 30px;
        overflow: hidden;
        position: relative;

        & img {
          max-width: 100%;
        }
      }

      & .content {

        & .time {
          font-size: 13px;
          color: rgba(255, 255, 255, 0.3);
          font-family: var(--gerbera);
          font-weight: 300;
          @apply --font-smooth;
        }

        & a {
          color: #fff;
          font-weight: normal;
          font-family: var(--bandera);
          font-size: 28px;
          margin: 15px 0 20px;
          display: block;
          @apply --font-smooth;
        }

        & .description {
          max-width: 740px;
          color: #fff;
          font-size: 18px;
          line-height: 28px;
          min-height: 20px;
          font-family: var(--gerbera);
          font-weight: 300;
          @apply --font-smooth;
        }
      }
    }
  }
}