@import '../../styles/variables.css';

:root {
  --color-bg: #fff;
  --color-text: #000;
}

.work {
  padding-top: 200px;

  & .wrapper {
    width: var(--width);
    padding: var(--padding);
    margin: auto;
    opacity: 1;
    transform: translateY(0px);
    transition: all 0.6s cubic-bezier(0, 0.3, 0.05, 0.93);

    &.hidden {
      transform: translateY(25px);
      opacity: 0;
    }

    & h1 {
      color: var(--color-text);
      font-weight: normal;
      font-family: var(--bandera);
      font-size: 63px;
      margin-bottom: 15px;
      display: block;
      @apply --font-smooth;
    }

    & p {
      max-width: 640px;
      color: var(--color-text);
      font-size: 18px;
      line-height: 28px;
      min-height: 20px;
      font-family: var(--gerbera);
      font-weight: 300;
      @apply --font-smooth;
      margin-bottom: 80px;
    }

    & .content {
      display: flex;

      & .item {
        flex: 1;
        height: ;
      }
    }
  }
}