@import '../../styles/variables.css';

:root {
  --color-bg: #fff;
  --color-text: #000;
}

.work {
  padding-top: 280px;

  & .wrapper {
    /*width: var(--width);*/
    /*padding: var(--padding);*/
    /*margin: auto;*/
    opacity: 1;
    transform: translateY(0px);
    transition: all 0.6s cubic-bezier(0, 0.3, 0.05, 0.93);

    &.hidden {
      transform: translateY(25px);
      opacity: 0;
    }

    & .block {
      width: var(--width);
      padding: var(--padding);
      margin: auto;
    }

    & h1 {
      color: var(--color-text);
      font-weight: normal;
      font-family: var(--bandera);
      font-size: 36px;
      margin-bottom: 30px;
      display: inline-block;
      @apply --font-smooth;
    }

    & p {
      max-width: 640px;
      color: var(--color-text);
      font-size: 18px;
      line-height: 28px;
      min-height: 20px;
      font-family: var(--gerbera);
      font-weight: 300;
      margin-bottom: 60px;
      @apply --font-smooth;
    }

    & .tabs {
      & span {
        font-family: var(--gerbera);
        display: inline-block;
        padding: 30px 0;
        margin-right: 50px;
        font-size: 16px;
        font-weight: 400;
        cursor: pointer;
        user-select: none;
        @apply --font-smooth;
        @apply --transition;

        &:active {
          transform: scale(0.95);
        }

        &:first-child {
          margin-left: 0;
        }

        &:hover {
          opacity: 0.4;
        }

        &.active {
          opacity: 0.4;
        }
      }
    }

    & .content {
      flex-wrap: wrap;
      display: flex;
      /*width: var(--width);*/
      /*padding: var(--padding);*/
      /*margin: auto;*/

      &.loader {
        & .item {
          opacity: 0;
          transform: scale(0.96);
        }
      }

      &.show {}

      & .item {
        /*flex: 50%;*/
        /*height: 480px;*/
        flex: 33.333%;
        height: 600px;
        background-color: #eee;
        position: relative;
        cursor: pointer;
        overflow: hidden;
        @apply --transition;

        &:nth-child(2n){
          z-index: 5;
        }

        &:hover {
          & .title {
            & strong {
              opacity: 1;
              transform: translateY(0);
            }

            & p {
              opacity: 1;
              transform: translateY(0);
            }
          }

          & .bg {
            & .img {
              transform: scale(1.01);
              transition: transform 20s cubic-bezier(0,1,.35,1);
            }

            & .overlay {
              background-color: rgba(0, 0, 0, .3);
            }
          }
        }

        & .title {
          padding: 54px;
          z-index: 10;
          position: relative;

          & strong {
            display: block;
            position: relative;
            font-family: var(--bandera);
            font-size: 32px;
            margin-bottom: 2px;
            color: #fff;
            font-weight: normal;
            opacity: 0;
            transform: translateY(7px);
            transition: all .3s ease;
            @apply --font-smooth;
          }

          & p {
            color: hsla(0, 0%, 100%, .6);
            font-family: var(--gerbera);
            font-size: 18px;
            font-weight: 300;
            opacity: 0;
            transform: translateY(7px);
            transition: all .3s ease;
            @apply --font-smooth;
          }
        }

        & .bg {
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          position: absolute;

          & .img {
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            width: 100%;
            height: 100%;
            position: relative;
            z-index: 5;
            transform: scale(1.1);
            transition: transform .6s cubic-bezier(0,.6,.25,1);
          }

          & .overlay {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: 6;
            background-color: transparent;
            transition: background-color .3s ease;
          }
        }
      }
    }
  }
}