:root {
  --roboto: "Roboto", "Arial";
  --open-sans: "Open Sans";
  --pt-serif: "PT Serif Caption", "Giorgia";
  --geometroa: "Geometria";
  --gerbera: "gerbera";
  --futura-pt: "Futura PT";
  --bandera: "bandera";

  --color-bg: #111;
  --color-bg-white: #fff;
  --color-text: #fff;
  --color-text-light: #a5afbd;
  --color-link: #0d44a0;

  --width: 1345px;
  --padding: 0;
  --position: 80px;

  --phone: initial;
  --tablet: initial;
  --pc: initial;

  --font-smooth: {
    font-smoothing: antialiased;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
  };

  --transition: {
    transition: all 0.3s ease;
  }
}

@media screen and (max-width: 740px) {
  :root {
    --phone: none;
    --position: 20px;
    --padding: 0 var(--position);
  }
}

@media screen and (max-width: 960px) {
  :root {
    --tablet: none;
  }
}

@media screen and (max-width: 1345px) {
  :root {
    --position: 40px;
    --width: 100%;
    --padding: 0 var(--position);
  }
}

@media screen and (max-width: 1500px) {
  :root {
    --width: 100%;
    --padding: 0 var(--position);
  }
}

