@import "../../styles/variables.css";

.contact {
  position: relative;
  background-color: var(--color-bg);
  display: flex;
  width: 100vw;


  & .wrapper {
    display: flex;
    width: 100%;
    height: 100vh;
    position: relative;
    align-items: center;

    & .content {
      width: var(--width);
      padding: var(--padding);
      margin: auto;

      & .form {
        width: 490px;
        opacity: 1;
        transform: translateY(0px);
        transition: all 0.6s cubic-bezier(0, 0.3, 0.05, 0.93);
        position: relative;
        z-index: 5;

        &.hidden {
          transform: translateY(25px);
          opacity: 0;
        }

        &.show {}

        & .item {
          display: flex;

          &.footer {
            flex-direction: row-reverse;

          }

          & .input {
            margin-bottom: 30px;
            flex: 1;
            position: relative;
            box-sizing: border-box;


            &:nth-child(2){
              margin-left: 20px;
            }

            & input {
              background-color: transparent;
              width: 100%;
              height: 35px;
              position: relative;
              border: 0;
              color: #fff;
              border-bottom: 1px solid #fff;
              outline: none;
              padding-left: 10px;
              font-family: var(--gerbera);
              font-size: 16px;
              z-index: 2;
              border-radius: 0;
              -webkit-appearance: none;
              @apply --font-smooth;
              @apply --transition;

              &:valid + label, &:focus + label {
                color: rgba(255,255,255,0.6);
                transform: scale(0.90) translateY(-25px) translateX(-3px);
              }
            }

            & label {
              font-family: var(--gerbera);
              font-size: 16px;
              display: block;
              position: absolute;
              top: 0;
              bottom: 0;
              left: 10px;
              color: #fff;
              line-height: 35px;
              height: 35px;
              z-index: 1;
              @apply --font-smooth;
              @apply --transition;
            }

            & textarea {
              resize: none;
              background-color: transparent;
              width: 100%;
              min-height: 35px;
              position: relative;
              border: 0;
              color: #fff;
              border-bottom: 1px solid #fff;
              outline: none;
              padding-left: 10px;
              padding-top: 7px;
              padding-bottom: 6px;
              font-family: var(--gerbera);
              font-size: 16px;
              z-index: 2;
              box-sizing: border-box;
              border-radius: 0;
              -webkit-appearance: none;
              @apply --font-smooth;

              &:valid + label, &:focus + label {
                color: rgba(255,255,255,0.6);
                transform: scale(0.90) translateY(-25px) translateX(-12px);
              }
            }

          }

          & .button {
            flex: 1;

            & button {
              padding: 19px 0;
              border: 1px solid #fff;
              display: block;
              width: 100%;
              color: #fff;
              font-family: var(--gerbera);
              background-color: transparent;
              font-size: 16px;
              box-sizing: border-box;
              outline: none;
              cursor: pointer;
              overflow: hidden;
              position: relative;
              @apply --transition;

              &:hover {
                /*background-color: #fff;*/
                color: #000;

                &:after {
                  transform: translateX(0%) scale(1);
                }
              }

              &:after {
                position: absolute;
                width: 100%;
                height: 100%;
                content: '';
                display: block;
                left: 0;
                top: 0;
                z-index: 1;
                background-color: #fff;
                transform: translateY(120%) scale(0.8);
                @apply --transition;
              }

              & span {
                position: relative;
                z-index: 2;
              }
            }
          }

          & .file {
            flex: 1;
            display: flex;
            height: 60px;
            align-items: center;
            justify-content: flex-end;
            cursor: pointer;

            &:hover {
              & span {
                border-bottom-color: transparent;
              }

              & svg {
                transform: rotate(15deg);
              }
            }

            & span {
              color: #fff;
              font-family: var(--gerbera);
              font-size: 16px;
              border-bottom: 1px solid #fff;
              display: block;
              line-height: 17px;
              @apply --transition;
            }

            & svg {
              width: 24px;
              height: 24px;
              fill: #fff;
              margin-right: 5px;
              @apply --transition;
            }

          }

          & .text {
            font-family: var(--gerbera);
            color: #555859;
            font-size: 12px;
            padding-top: 30px;
            @apply --font-smooth;
          }
        }
      }
    }

    & .map {
      position: fixed;
      height: 500px;
      width: 50vw;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      z-index: 4;
      transition: all 0.6s cubic-bezier(0, 0.3, 0.05, 0.93);

      &.hidden {
        opacity: 0;
      }

      &.show {}

      & svg {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        height: 100%;
        z-index: 4;
      }

      & .data {
        bottom: 105px;
        left: 350px;
        position: absolute;
        z-index: 5;

        & .list {

          & .email {
            border-bottom: 1px solid #fff;
            color: #fff;
            font-size: 16px;
            font-family: var(--gerbera);
            display: inline-block;
            line-height: 16px;
            margin-bottom: 15px;
            font-weight: 300;
            @apply --transition;
            @apply --font-smooth;

            &:hover {
              border-bottom-color: transparent;
            }
          }

          & .phone {
            color: #fff;
            font-size: 16px;
            font-family: var(--gerbera);
            display: block;
            margin-bottom: 60px;
            @apply --font-smooth;
          }

        }

        & .marker {
          color: #fff;
          font-size: 16px;
          font-family: var(--gerbera);
          display: block;
          position: relative;
          @apply --font-smooth;

          &:before {
            position: absolute;
            width: 5px;
            height: 5px;
            border-radius: 100%;
            background-color: red;
            left: -20px;
            top: 0;
            bottom: 0;
            display: block;
            margin: auto;
            content: '';
            z-index: 5;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .contact .wrapper {
    height: 100%;

    & .content .form {
      width: 100%;
      max-width: 380px;
      margin: auto;

      & .item {
        display: block;

        & .input {

          &:nth-child(2){
            margin-left: 0;
          }

          & input {
            padding: 0;
          }

          & textarea {
            padding: 7px 0 6px;
          }

          & label {
            left: 0;
          }
        }

        &.footer {
          display: block;

          & .file {
            justify-content: flex-start;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 740px) {
  .contact .wrapper {
    padding: 100px 0 50px;
    display: block;

    & .content .form {
      margin: auto;
    }

    & .map {
      height: auto;
      position: relative;
      margin-bottom: 40px;
      width: 100%;
      padding: var(--padding);

      & svg {
        display: none;
      }

      & .data {
        position: relative;
        margin: auto;
        max-width: 380px!important;
        width: 100%!important;
        left: 0;
        top: 0;
        bottom: 0;

        & .list {
          & .phone {
            margin-bottom: 25px;
          }

          & .marker {
            & b {
              display: none;
            }
          }
        }

        & .marker {
          &:before {
            display: none;
          }
        }

      }
    }
  }
}

@media screen and (max-width: 960px) {
  .contact .wrapper {
    & .content .form {
      max-width: 380px;

      & .item {

        &.footer {

          & .button {
            flex: 0.7;
          }
        }
      }
    }
  }

}

@media screen and (max-width: 1170px) {
  .contact .wrapper {

    & .map {
      & .data {
        bottom: 150px;
        right: 0;
        left: auto;
        width: 280px;

        & .marker {
          &:before {
            bottom: auto;
            left: 30px;
            top: 59px;
          }
        }
      }
    }
  }
}








