@import "../../styles/variables.css";

.contact {
  position: relative;
  background-color: var(--color-bg);
  width: 100vw;
  height: 100vh;

  & .wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
    align-items: center;

    & .content {
      width: var(--width);
      margin: auto;
      /*height: 400px;*/

      & .form {
        width: 490px;
        opacity: 1;
        transform: translateY(0px);
        transition: all 1s cubic-bezier(.34,.67,0,1);

        &.hidden {
          transform: translateY(50px);
          opacity: 0;
        }

        &.show {}

        & .item {
          display: flex;

          & .input {
            margin-bottom: 30px;
            flex: 1;
            position: relative;

            &:nth-child(2){
              margin-left: 20px;
            }

            & input {
              background-color: transparent;
              width: 100%;
              height: 35px;
              position: relative;
              border: 0;
              color: #fff;
              border-bottom: 1px solid #fff;
              outline: none;
              padding-left: 10px;
              font-family: var(--gerbera);
              font-size: 16px;
              z-index: 2;
              @apply --font-smooth;
              @apply --transition;

              &:valid + label, &:focus + label {
                color: rgba(255,255,255,0.6);
                transform: scale(0.90) translateY(-25px);
              }
            }

            & label {
              font-family: var(--gerbera);
              font-size: 16px;
              display: block;
              position: absolute;
              top: 0;
              bottom: 0;
              left: 10px;
              color: #fff;
              line-height: 35px;
              z-index: 1;
              @apply --font-smooth;
              @apply --transition;
            }

            & textarea {
              resize: none;
              background-color: transparent;
              width: 100%;
              min-height: 35px;
              position: relative;
              border: 0;
              color: #fff;
              border-bottom: 1px solid #fff;
              outline: none;
              padding-left: 10px;
              padding-top: 7px;
              padding-bottom: 6px;
              font-family: var(--gerbera);
              font-size: 16px;
              z-index: 2;
              @apply --font-smooth;

              &:valid + label, &:focus + label {
                color: rgba(255,255,255,0.6);
                transform: scale(0.90) translateY(-25px) translateX(-12px);
              }
            }

          }

          & .button {
            flex: 1;

            & button {
              padding: 19px 0;
              border: 1px solid #fff;
              display: block;
              width: 100%;
              color: #fff;
              font-family: var(--gerbera);
              background-color: transparent;
              font-size: 16px;
              box-sizing: border-box;
              outline: none;
              cursor: pointer;
              overflow: hidden;
              position: relative;
              @apply --transition;

              &:hover {
                /*background-color: #fff;*/
                color: #000;

                &:after {
                  transform: translateX(0%) scale(1);
                }
              }

              &:after {
                position: absolute;
                width: 100%;
                height: 100%;
                content: '';
                display: block;
                left: 0;
                top: 0;
                z-index: 1;
                background-color: #fff;
                transform: translateY(120%) scale(0.8);
                @apply --transition;
              }

              & span {
                position: relative;
                z-index: 2;
              }
            }
          }

          & .file {
            flex: 1;
            display: flex;
            height: 60px;
            align-items: center;
            justify-content: flex-end;
            cursor: pointer;

            &:hover {
              & span {
                border-bottom-color: transparent;
              }

              & svg {
                transform: rotate(15deg);
              }
            }

            & span {
              color: #fff;
              font-family: var(--gerbera);
              font-size: 16px;
              border-bottom: 1px solid #fff;
              display: block;
              line-height: 17px;
              @apply --transition;
            }

            & svg {
              width: 24px;
              height: 24px;
              fill: #fff;
              margin-right: 5px;
              @apply --transition;
            }

          }

          & .text {
            font-family: var(--gerbera);
            color: #555859;
            font-size: 12px;
            padding-top: 30px;
            @apply --font-smooth;
          }
        }
      }
    }
  }
}