@import "../../styles/variables.css";

.header {
  height: 0;

  &.white {
    & .logo {
      & .wrapper {
        & .f, & .e {
          & span {
            background-color: #fff;
          }
        }
      }

      & .title {
        & strong {
          color: rgba(255, 255, 255, 0.3);
        }
      }
    }

    & .nav {
      & .wrapper {
        & a {
          color: #fff;
        }
      }

      & .menu {
        background-color: rgba(255, 255, 255, 0.05);

        & svg {
          fill: #fff;
        }
      }
    }
  }

  &.black {}

  & .logo {
    user-select: none;
    position: fixed;
    left: var(--position);
    top: var(--position);
    z-index: 9999;

    & .wrapper {
      position: relative;
      display: flex;
      width: 48px;

      & .f {
        flex: 1;
        margin-right: 3px;

        & span {
          display: block;
          height: 6px;
          background-color: #000;
          margin-bottom: 3px;

          &:nth-child(3){
            width: 50%;
          }

          &:last-child {
            margin-bottom: 0;
          }
        }
      }

      & .e {
        flex: 1;

        & span {
          display: block;
          height: 6px;
          background-color: #000;
          margin-bottom: 3px;

          &:nth-child(2){
            width: 50%;
          }

          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }

    & .title {
      margin-top: 5px;

      & strong {
        font-weight: bold;
        text-transform: uppercase;
        font-size: 9px;
        letter-spacing: 5.5px;
        font-family: var(--gerbera);
        position: relative;
        left: -1px;
        color: rgba(0, 0, 0, 0.6);
      }
    }
  }

  & .nav {
    display: flex;
    position: fixed;
    right: var(--position);
    top: var(--position);
    z-index: 9999;


    & .wrapper {
      position: relative;
      height: 36px;
      margin-right: 50px;
      top: -6px;
      display: var(--phone);

      & a {
        color: #000;
        line-height: 36px;
        font-size: 17px;
        font-family: var(--gerbera);
        font-weight: 300;
        margin-right: 30px;
        text-decoration: none;
        transition: opacity 0.2s linear;
        @apply --font-smooth;

        &:hover {
          opacity: 0.6;
        }

        &:last-child {
          margin-right: 0;
        }

        &.active {
          color: red;
        }
      }
    }

    & .menu {
      transition: all 0.3s ease;
      width: 36px;
      height: 36px;
      background-color: transparent!important;
      cursor: pointer;
      position: relative;
      display: flex;
      align-items: center;
      top: -7px;

      &:hover {
        & div {
          & span {
            &:nth-child(1){
              transform: translate(0, -3px);
            }

            &:nth-child(3){
              transform: translate(0, 3px);
            }
          }
        }
      }

      & div {
        width: 100% ;

        & span {
          width: 35px;
          height: 2px;
          background-color: #fff;
          display: block;
          margin: auto;
          margin-bottom: 5px;
          @apply --transition;

          &:last-child {
            margin-bottom: 0;
          }
        }
      }


    }
  }
}

@media screen and (max-width: 1780px) {
  .header {
    position: relative;
    height: auto;

    & .logo {
      position: absolute;
    }

    & .nav {
      position: absolute;
    }
  }
}

@media screen and (max-width: 570px) {
  .header {
    height: 64px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--color-bg);
    box-shadow: 0px 5px 10px -3px rgba(0, 0, 0, 0.3);
    z-index: 9999;

    & .logo {
      & .title {
        display: none;
      }
    }

    & .nav {
      & .menu {
        top: -6px;
      }
    }
  }
}