@import "../../styles/variables.css";

.header {
  width: var(--width);
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: var(--position);
  padding: var(--padding);

  &.white {
    & .logo {

      & svg {
        fill: #000;
      }
    }

    & .nav {
      & .wrapper {
        & a {
          color: #000;
        }
      }

      & .menu {
        background-color: #000;

        & svg {
          fill: #000;
        }

        & div {
          & span {
            background-color: #000;
          }
        }
      }
    }
  }

  &.black {}

  & .wrapper {
    position: relative;
  }

  & .logo {
    user-select: none;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9999;
    width: 52px;
    cursor: pointer;
    height: 36px;
    @apply --font-smooth;
    @apply --transition;

    &:active {
      transform: scale(0.95);
    }

    & svg {
      fill: #fff;
      width: 52px;
    }
  }

  & .nav {
    display: flex;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 9999;


    & .wrapper {
      position: relative;
      height: 36px;
      margin-right: 36px;
      display: var(--phone);

      & a {
        color: #fff;
        line-height: 36px;
        padding: 2px 0;
        font-size: 17px;
        font-family: var(--gerbera);
        font-weight: 300;
        margin-right: 30px;
        text-decoration: none;
        transition: opacity 0.2s linear;
        @apply --font-smooth;

        &:hover {
          opacity: 0.6;
        }

        &:last-child {
          margin-right: 0;
        }

        &.active {
          opacity: 0.4;
        }
      }
    }

    & .menu {
      transition: all 0.3s ease;
      width: 36px;
      height: 36px;
      background-color: transparent!important;
      cursor: pointer;
      position: relative;
      display: flex;
      align-items: center;
      top: -1px;

      &:hover {
        & div {
          & span {
            &:nth-child(1){
              transform: translate(0, -3px);
            }

            &:nth-child(3){
              transform: translate(0, 3px);
            }
          }
        }
      }

      & div {
        width: 100% ;

        & span {
          width: 35px;
          height: 2px;
          background-color: #fff;
          display: block;
          margin: auto;
          margin-bottom: 5px;
          @apply --transition;

          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 540px) {
  .header {
    & .logo {
      & svg {
        width: 36px;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
      }
    }

    & .nav {
      & .menu {
        top: -4px;
      }
    }
  }
}