@import "../../styles/variables.css";

@font-face {
  font-family: "bandera";
  src: url('../../static/font/bandera.woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "gerbera";
  src: url('../../static/font/Gerbera.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "gerbera";
  src: url('../../static/font/Gerbera_Light.otf');
  font-weight: 300;
  font-style: normal;
}

:global {

}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background-color: var(--color-bg);
  font-size: 13px;
  font-family: var(--roboto);
  overflow-x: hidden;
}







