@import "../../styles/variables.css";

.wrapper {
  width: 100vw;
  background-color: var(--color-bg);

  & .item {
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    height: 100vh;
    //min-height: 768px;
    width: 100vw;

    & .video {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      @apply --transition;

      & div {
        width: 100%!important;
        height: 100%!important;
        position: absolute;
        left: 0;
        top: 0;

        & video {
          width: 100%;
          height: 100%;
          position: relative;
          left: 0;
          top: 0;
          object-fit: cover;
        }
      }

      &.hidden {
        opacity: 0;
      }

      &.active {
        opacity: 0.5;
      }
    }

    & .block {
      display: flex;
      align-items: flex-end;
      position: relative;
      height: 100%;
      width: 100vw;
      opacity: 1;
      transform: translateY(0px);
      transition: all 0.6s cubic-bezier(0, 0.3, 0.05, 0.93);

      &.hidden {
        transform: translateY(25px);
        opacity: 0;
      }
    }

    & .data {
      width: var(--width);
      padding: var(--padding);
      position: relative;
      margin: 0 auto 120px;

      & .content {
        max-width: 780px;

        & .head {
          & h2 {
            font-size: 42px;
            color: #fff;
            font-family: var(--bandera);
            font-weight: normal;
            margin-bottom: 25px;
            @apply --font-smooth;
          }

          & p {
            font-size: 15px;
            font-family: var(--gerbera);
            color: rgba(255, 255, 255, 0.6);
            font-weight: 300;
            line-height: 21px;
            @apply --font-smooth;
          }

          & .buttons {
            display: flex;
            margin-top: 35px;

            & .button {
              display: inline-block;
              border: 2px solid rgba(255, 255, 255, 0.2);
              color: #fff;
              padding: 0 40px 0 20px;
              height: 40px;
              line-height: 42px;
              font-family: var(--gerbera);
              font-size: 14px;
              position: relative;
              border-radius: 30px;
              color: rgba(255, 255, 255, 1);
              box-sizing: content-box;
              margin-right: 20px;
              @apply --transition;
              @apply --font-smooth;

              &:hover {
                border-color: #fff;

                & svg {
                  fill: #fff;
                }
              }

              & svg {
                width: 24px;
                height: 24px;
                position: absolute;
                fill: rgba(255, 255, 255, 0.2);
                right: 10px;
                top: 0;
                bottom: 0;
                margin: auto;
                @apply --transition;
              }
            }

            & .socialButton {
              position: relative;
              height: 44px;
              width: 44px;

              &:last-child {
                & svg {
                  width: 28px;
                  height: 28px;
                }
              }

              &:hover {
                & svg {
                  fill: #fff;
                }
              }

              & svg {
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                margin: auto;
                fill: rgba(255, 255, 255, 0.2);
                width: 24px;
                height: 24px;
                @apply --transition;
              }
            }
          }
        }
      }

      & .news {
        position: relative;
        z-index: 10;
        left: 0;
        right: 0;
        box-sizing: border-box;
        padding: 60px 0;

        & .news_wrapper {

          & .title {
            padding: 15px 0;
            font-family: var(--gerbera);
            font-weight: 300;
            font-size: 17px;
            color: rgba(255, 255, 255, 0.6);
            @apply --font-smooth;
          }

          & .list {
            display: flex;

            & .element {
              display: flex;
              flex: 1;
              box-sizing: border-box;
              max-width: 360px;
              margin-right: 80px;
              position: relative;
              z-index: 5;

              &:last-child {
                margin-right: 0;
              }

              & .content_news {
                flex: 1;

                & a {
                  color: rgba(255, 255, 255, 0.6);
                  font-family: var(--gerbera);
                  line-height: 22px;
                  font-weight: 300;
                  font-size: 13px;
                  @apply --font-smooth;
                  @apply --transition;

                  &:hover {
                    color: #fff;

                    & i {
                      border-color: #fff;
                    }
                  }

                  & i {
                    color: rgba(255, 255, 255, 0.92);
                    font-style: normal;
                    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
                    display: inline-block;
                    line-height: 14px;
                    @apply --transition;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-height: 768px) {
  .wrapper {
    & .item {
      max-height: 671px;

      & .block {
        align-items: flex-end;

        & .data {
          margin: 0 0 40px 0;

          & .content {
            padding: 0;
          }

          & .news {
            padding: 40px 0 0 0;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1345px) {
  .wrapper {
    & .item {
      & .block {
        & .data {
          & .content {
            & .head {
              & h2 {
                font-size: 36px;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .wrapper {
    & .item {
      max-height: 750px;

      & .block {
        & .data {
          margin: 0 auto;

          & .content {
            & .head {
              & h2 {
                //font-size: 36px;
                //margin-bottom: 15px;
              }

              & p {
                //font-size: 14px;
              }

              & .buttons {
                //margin-top: 20px;

              }
            }
          }

          & .news {
            padding-bottom: 35px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 640px) {
  .wrapper {
    & .item {
      & .block {
        & .data {
          margin: 0 auto 0;

          & .content {
            & .head {
              & h2 {
                font-size: 28px;
                margin-bottom: 15px;
              }

              & p {
              //font-size: 14px;
              }

              & .buttons {
              //margin-top: 20px;

              }
            }
          }

          & .news {
            & .news_wrapper {
              & .list {
                & .element {
                  margin-right: 30px;

                  &:last-child {
                    margin-right: 0;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 540px) {
  .wrapper {
    & .item {
      min-height: 480px;
      height: 500px;

      & .block {

        & .data {
          margin: 0 auto 40px;

          & .content {
            & .head {
              & h2 {
                font-size: 21px;
                margin-bottom: 15px;
              }

              & p {
              //font-size: 14px;
              }

              & .buttons {
              //margin-top: 20px;

              }
            }
          }

          & .news {
            display: none;
          }
        }
      }
    }
  }
}